<html>
  <style>

.hero-image {
  background-image: url("https://i.imgur.com/0vY8E.jpg");
  height: 645px;
  width:1350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
h1 {
  text-align :"centre";
  margin: auto;
  width: 50%;
  /* background-color: greenyellow; */
  color: white;
  padding: 30px;
  text-align: right;
}
</style>
<div class="hero-image">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <h1><i>Welcome to Leave Management System </i></h1>
  <!-- <button type="submit" (click) ="navigate()">Employee Details </button> -->
  <p align="center">
  <input type="button" style="padding: 5px 28px;
  cursor: pointer;" (click)="navigate()" value="Employee Details" > 
  </p>
</div>